@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url("//cdn.web-fonts.ge/fonts/bpg-extrasquare/css/bpg-extrasquare.min.css");
@import url("//cdn.web-fonts.ge/fonts/arial-geo/css/arial-geo.min.css");


a{
  text-decoration: none;
}

header{
  background-color: #1C1E53;
  min-height: 760px;
}
.nav-link{
  color: #BBBBCB;
  font-family: "BPG ExtraSquare", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 18px;
}
.navbar{
  padding-top: 16px;
}
.pdngs{
  padding-left: 160px;
  padding-right: 160px;
}

.cntct{
  color: var(--White, #FFF);
  font-family: "BPG ExtraSquare", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.20);
  margin-left: 32px;
  padding: 16px 48px;
  min-width: 185px;
  text-align: center;
}
.teqsti h1{
  color: var(--White, #FFF);
font-family: "BPG ExtraSquare", sans-serif;
  font-size: 54px;
  font-weight: 600;
}
.teqsti{
  margin-top: 21px;
}
.btn2{
  color: white;
  font-family: "BPG ExtraSquare", sans-serif;
}
.teqsti p{
  color: var(--White, #FFF);
  font-family: "Arial GEO", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.ilustr img{
  width: 100%;
}
.ngl2{
  margin-top: 112px;
}
.beber p{
  font-family: "Arial GEO", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #282938;
}

.bebee{
  font-family: "Arial GEO", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.txtc p{
font-family: "Arial GEO", sans-serif;
font-size: 16px;
font-weight: 400;
color: #282938;
}
.bege{
  color: #282938;
  font-family: "Arial GEO", sans-serif;
font-size: 16px;
font-weight: 500;
}
.padd p{
  color: #282938;
font-size: 16px;
font-weight: 400;
font-family: "Arial GEO", sans-serif;
}
.firstpg h1{
  font-family: "BPG ExtraSquare", sans-serif;
}
.firstpg a{
  font-family: "Arial GEO", sans-serif;
}
.sbm{
  color: #282938;
font-size: 24px;
font-weight: 500;
font-family: "BPG ExtraSquare", sans-serif;
}
.viewow{
  color: #1B1C2B;
  font-family: "Arial GEO", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 41px;
  background-color: #FCD980;
  padding: 16px 56px;
  margin-right: 40px;
}
.btnsss{
  margin-top: 48px;
  margin-bottom: 50px;
}
.blackwnd{
  margin-top: 52px;
  padding-top: 76px;
}
.bg2{
  background-color: #F4F6FC;
}
.whitewnd{
  margin-left: 118px;
  padding-bottom: 179px;
}
.pdngbtm{
  margin-bottom: 33px;
}
.boxi{
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxi a{
  color: black;
}

.hvrr{
  position: relative;
  overflow: hidden;
}
.texti2{
  width: 40%;
  position: absolute;
  height: 100%;
  background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all .6s;
  transform: translateX(-100%);
}
.gadasvla:hover .texti2{
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}
.gadasvla{
  position: relative;
  height: 100%;
}
.gadasvla2{
  position: relative;
}
.texti3{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  margin-bottom: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all .6s;
  transform: translateX(-100%);
}
.gadasvla2:hover .texti3{
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}
.gghh{
  margin-top: 64px;
  margin-bottom: 128px;
}
.satauri11{
  padding-top: 128px;
  text-align: center;
}
.satauri11 h1{
color: var(--Dark-blue, #282938);
text-align: center;
font-family: "BPG ExtraSquare", sans-serif;
font-size: 48px;
font-weight: 600;
max-width: 630px;
margin: auto;
padding-top: 12px;
padding-bottom: 47px;
}
.satauri11 small{
color: var(--Dark-blue, #282938);
text-align: center;
font-family: "BPG ExtraSquare", sans-serif;
font-size: 16px;
font-weight: 500;
}
.blbl .col-lg-4{
  /* text-align: center;
  background-color: white; */
  width: 33.3333%;
  height: 20rem;
  margin-bottom: 20px;
}
.padd{
  height: 100%;
  text-align: center;
  background-color: white;
  padding-top: 53px;
  padding-left: 48px;
  padding-bottom: 48px;
  padding-right: 33px;
  text-align: left;
  width: 100%;
}
.padd img{
  padding-bottom: 23px;
}
.padd h3{
  padding-bottom: 12px;
  color: var(--Dark-blue, #282938);
font-family: "BPG ExtraSquare", sans-serif;
  font-size: 24px;
font-weight: 500;
}
.padd p{
color: var(--Dark-blue, #282938);
font-family: "BPG ExtraSquare", sans-serif;
font-size: 16px;
font-weight: 400;
}
.bg4{
  background-color: var(--Grey, #F4F6FC);
}
.blbl{
  padding-bottom: 128px;
  box-sizing: border-box;
}
.flexibx{
  display: flex;
  padding-top: 128px;
  padding-bottom: 106.75px;
}
.bg5{
  background-color: rgba(244, 246, 252, 0.6);
}
.flexibx h1{
color: var(--Dark-blue, #282938);
font-family: "BPG ExtraSquare", sans-serif;
font-size: 38px;
font-weight: 600;
}
.flexibx p{
color: var(--Dark-blue, #282938);
font-family: "BPG ExtraSquare", sans-serif;
font-size: 16px;
font-weight: 400;
margin-top: 16px;
}
.flexibx2{
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.flexibx2 h2{
color: var(--Dark-blue, #282938);
font-family: "BPG ExtraSquare", sans-serif;
font-size: 32px;
font-weight: 500;
}
.avatar{
  display: inline-flex;
}
.avatar img{
  width: 58px;
  height: 58px;
  border-radius: 100%;
}
.pirveliteqsti{
  margin-right: 110px;
  min-width: 327px;
}
.flexboxxi{
  display: flex;
  margin-top: 128px;
}
.entirediv{
  display: flex;
  justify-content: space-around;
}
.firsth1{
  display: flex;
  justify-content: space-between;
}
.txtssome p{
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Arial GEO", sans-serif;
}
.txtssome{
  margin-left: 10px;
}
.acc{
  width: 100%;
}

.accordion span{
  color: #2405F2;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  margin-right: 53px;
}
.accordion button{
  color: #282938;
  font-family: Poppins;
font-size: 24px;
font-weight: 500;
box-shadow: none !important;
background-color: white !important;
}

.nebo{
  padding-right: 126px;
}

.blck{
  border: 0px;
  border-bottom: 2px solid #ECECF1 !important;
}
.backgr{
  background: url(../img/30732f1e32bd56f48c9445a26c0f29ba.jpg);
}
.backgr2{
  background-color: #1C1E53;
  padding-top: 96px;
  padding-left: 96px;
  padding-right: 96px;
}
.backgr h1{
  margin-bottom: 24px;
  color: white;
font-size: 54px;
font-weight: 600;
font-family: "BPG ExtraSquare", sans-serif;
}
.backgr p {
  color: white;
font-size: 16px;
font-family: "Arial GEO", sans-serif;
font-weight: 500;

}
.textebi{
  width: 464px;
  margin-top: 96px;
  margin-left: 96px;
  margin-bottom: 261px;
}
.textebi2{
  color: white;
  margin-bottom: 30px;
}
.textebi2 h2{
  font-family: "BPG ExtraSquare", sans-serif;
font-size: 32px;
font-weight: 500;
}
.textebi2 p{
  font-family: "Arial GEO", sans-serif;
}
.aeeee{
  margin-top: 128px;
}
.inpts input{
  padding: 18px 0px 18px 32px;
  background-color: #1C1E53;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1.5px solid #ffffff0d;
  color: #F4F6FC;
  opacity: 0.5;
}
.butoni button{
  width: 100%;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  border-radius: 41px;
  background-color: #FCD980;
  color: #1B1C2B;
  font-family: "BPG ExtraSquare", sans-serif;
font-size: 18px;
font-weight: 600;
margin-bottom: 28px;
}
.butoni a{
  margin-left: 94px;
  color: white;
  font-family: "Arial GEO", sans-serif;
font-size: 18px;
font-weight: 500;
}
.butoni a img{
  padding-left: 5px;
}












@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
  }  
}

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1280px;
}  
}

@media (max-width: 450px){
  .btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .btnsss{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .viewow{
    padding: 8px 36px;
    margin: auto;
    width: 100%;
  }

  .pdngs{
    padding-left: 5px;
    padding-right: 5px;
  }

}

@media (max-width: 1162px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px;
  }  
}
@media (max-width: 1091px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px;
  }  
}
@media (max-width: 1007px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1px;
  }  
}
@media (max-width: 992px){
  .whitewnd {
    text-align: center;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }  
  .blackwnd .col-lg-4 {
    text-align: center;
    padding-bottom: 150px;
  }
  .btnsss{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .blabla {
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    padding-right: 0 !important;
  }
  .bakk{
    margin-bottom: 0 !important;
    padding-bottom: 20px;
  }
  .blbl .col-lg-4{
    width: 30%;
  }
}
@media (max-width: 1200px){
  .blbl .col-lg-4{
    width: 50%;
    height: 25rem;
  }
}
@media (max-width: 779px){
  .flexibx{
    display: block;
  }
  .blbl .col-lg-4{
    width: 100%;
    height: 25rem;
  }
  
}
@media (max-width: 560px){
  .texti2{
    width: 100%;
    position: absolute;
    height: 100%;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    padding: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all .6s;
    transform: translateX(-100%);
  }
  .absd{
    padding: 0 !important;
  }
  .hvrr{
    padding: 0 !important;
  }
  .blabla {
    padding: 0 !important;
  }
}








